<% @page_title = "Edit \u{1f60e}" %>

<h2 style="margin: 25px; text-align: center;"> Edit a Customer </h2>

<%= form_for(:customer, url: {:action => 'update', id: @customer.id}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Update Customer", class: "btn btn-block btn-secondary btn-lg mt-5") %>

<% end %>