<h2 style="margin: 25px; text-align: center;"> New Order </h2>

<%= form_for(:order, url: {:action => 'create'}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <%= submit_tag("Add Order", class: "btn btn-block btn-secondary btn-lg mt-5") %>

<% end %>